:root {
  --primary: crimson;
  --dark: black;
  --light: white;

  --player: white;
  --player-darker: grey;
  --player-border: rgb(0, 78, 0); }


* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
  font-size: small;
}

body {
  height: 100vh;
  margin: auto;
  padding: 5em 5em 5em 5em;
  background-color: var(--dark);
  
}
.console{
  background: var(--dark);
  color: var(--light);
  margin: auto;
  height: 50vw;
  width: 80vw;
  display: grid;
  grid-template-rows: 20% 20% minmax(min-content, 20%) 20% 20%;
  grid-template-columns: 30% 2% minmax(min-content, 36%) 2% 30%;
}

.settings{
  color: var(--light);
  display: flex;
  margin: 1em 3em 1em;
  font-size: xx-large;
}

.settings-time-limit{
  color: var(--light);
  display: flex;
  width: 50%;
  font-size: inherit;
}

.settings-time-limit p{
  color: var(--light);
  font-size: inherit;
}

.time-limit-input-enabled{
  size: large;
  color: var(--light);
  margin: 0em 0.5em 0em 1em;
  background: transparent;
  border: 2px solid var(--light);
  width: 3em;
  font-size: inherit;
}

.time-limit-input-disabled{
  size: large;
  color: var(--light);
  margin: 0em 0.5em 0em 1em;
  background: transparent;
  width: 3em;
  font-size: inherit;
}

.settings-sounds{
  color: #f03;
}

.clock {
  grid-row: 3/4;
  grid-column: 3/4;
  margin: auto;
  display: flex;
  align-items: center;
}

.time {
  text-align: center;
  margin: 1em 1em 1em 1em;
  font-size: xx-large;
  width: 4em;
  height: 1.5em;
  padding: 0.2em;
}

.time-start{
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 10%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 2s linear infinite;
  animation-play-state: paused;
  transition: 1s ease-in;
  }

@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.reset-button {
  align-items: center;
  height: 2em;
  width: 2em;
  background: transparent;
  border: 0;
  color: var(--light);
  cursor: pointer;
  line-height: 0.5em;
  text-align: center;
}

.reset-button p{
  font-size: 5em;
  margin: 0em 0.6em 0.2em -0.2em;
}

.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 2em;
  border-style: solid;
  border-width: 1em 0 1em 1.9em;
  border-color: transparent transparent transparent var(--light);
  transition: 100ms all ease;
  cursor: pointer;
}

.pause-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 2em;
  border-style: double;
  border-width: 0 0 0 1.9em;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;
}
