.settings-sounds{
  color: var(--light);
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.settings-sounds p {
  font-size: inherit;
}

.sound-select {
  display: flex;
  justify-content: space-between;
}

.sound-select select-sound-component {
  padding-top: 0.25em;
}

bind-key-component button {
  border: 1px solid var(--light);
  border-radius: 2px;
  background: var(--dark);
  color: inherit;
  font-size: medium; 
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.bind-button-active {
  animation: blinker 0.6s infinite
}

.bind-button-remove button{
  border-color: red;
  color: red;
}

.sound-select p{
  width: max-content;
  position: relative;
}

.settings-sounds select{
  position: relative;
  border: 1px solid var(--light);
  background: var(--dark);
  color: inherit;
  font-size: large;
  width: 5em 
}
 